NODE_ENV=development
HOST=0.0.0.0
PORT=4000

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/abdullahalmaksud
MONGODB_DB_NAME=abdullahalmaksud

BETTER_AUTH_SECRET=replace-with-at-least-32-random-characters
BETTER_AUTH_URL=http://localhost:4000

CORS_ORIGIN=http://localhost:3000
